@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quintessential&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
.header {
  width: 100%;
  height: 100%;
  background-color: #224381; }

.respmenu input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times {
  position: absolute;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  right: 0;
  top: 0;
  width: 48px;
  height: 48px; }

.respmenu .fa-bars, .respmenu .fa-times {
  font-size: 48px;
  pointer-events: none; }

.respmenu input[type="checkbox"] {
  opacity: 0; }

.respmenu {
  color: #fff;
  position: relative;
  background: #123456;
  min-height: 48px; }
  .respmenu .logo-header {
    width: 140px;
    margin-left: 20px; }

.respmenu nav {
  display: none; }

.respmenu input:checked ~ nav {
  display: block; }

.respmenu input:checked ~ .fa-bars {
  display: none; }

.respmenu input:not(:checked) ~ .fa-times {
  display: none; }

.nav-menu li {
  list-style-type: none; }
  .nav-menu li a {
    background-color: #123456;
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    border-bottom: 2px solid #456789;
    max-width: 200px;
    font-variant: small-caps;
    text-shadow: 1px 1px black; }
    .nav-menu li a:hover {
      color: lightseagreen; }

footer {
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  padding: 2rem 8%;
  background-color: #224381;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  footer .social-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem; }
    footer .social-icon-container img {
      height: 40px;
      width: 40px; }
    footer .social-icon-container .social-icon {
      height: 40px;
      width: 40px;
      border-radius: 50px;
      border: 1px solid #f2f2f2;
      background-size: 40%;
      background-repeat: no-repeat;
      margin: 1rem; }
      footer .social-icon-container .social-icon:hover {
        background-color: #121212;
        filter: invert(1); }
  footer .footer-menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    list-style-type: none;
    color: #f2f2f2;
    font-size: 18px; }
    footer .footer-menu-container .menu-item {
      margin: 1rem 1.5rem;
      cursor: pointer;
      opacity: 0.6; }
      footer .footer-menu-container .menu-item:hover {
        opacity: 1; }
  footer .copyright {
    color: #f2f2f2;
    font-size: 0.3;
    text-align: center; }

.title {
  text-align: center;
  font-size: 45px;
  margin-top: 30px;
  font-weight: 100;
  color: orangered;
  animation-duration: 5s;
  animation-name: aparecer;
  animation-iteration-count: infinite; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* Inicio de grid */
.grid-container {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 355px;
  display: grid;
  background-color: lightslategray;
  border: 2px solid rgba(0, 0, 0, 0.2);
  /*margin-top: 50px;
    margin-bottom: 50px;*/
  margin: 0% auto;
  width: 85%; }
  .grid-container .hijo {
    border: solid rgba(0, 0, 0, 0.2) 2px;
    text-align: center;
    padding: 5% 5%; }

.grid-container .hijo {
  border: solid rgba(0, 0, 0, 0.2) 2px;
  text-align: center;
  padding: 5% 5%; }
  .grid-container .hijo img {
    height: 100%;
    width: 100%; }
  .grid-container .hijo h1 {
    font-size: 200%;
    font-weight: 100;
    font-family: 'sans-serif';
    background-image: linear-gradient(45deg, violet, turquoise);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent; }
  .grid-container .hijo p {
    color: black;
    margin-bottom: 50px;
    font-size: 100%;
    font-weight: 10%;
    text-align: justify; }

/* Fin de grid */
iframe {
  width: 100%;
  height: 100%; }

.destacados {
  margin-bottom: 100px; }
  .destacados .container {
    display: grid;
    gap: 120px;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr)); }
    .destacados .container .card {
      width: 330px;
      height: 430px;
      border-radius: 8px;
      box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      margin: 10px;
      text-align: center;
      transition: all 0.25s;
      background-color: lightsteelblue; }
      .destacados .container .card:hover {
        transform: translateY(-15px);
        box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2); }
      .destacados .container .card img {
        width: 330px;
        height: 220px; }
      .destacados .container .card h2 {
        font-weight: 600; }
      .destacados .container .card p {
        padding: 0 1rem;
        font-size: 16px;
        font-weight: 300;
        color: black;
        margin-bottom: 10px;
        margin-top: 10px; }

img {
  width: 100%;
  height: 100%; }

.fondo1 {
  background-image: url("https://i.pinimg.com/736x/40/e1/35/40e1356ce7acd94d2e8ac21873bd4f51.jpg");
  background-size: 100%; }

.historias {
  background-color: #224381;
  border: solid black 5px;
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: 10%;
  margin-right: 10%; }
  .historias .marco {
    background-color: lightblue;
    border: solid black 5px;
    margin: 20px;
    padding: 5% 5%; }
    .historias .marco img {
      margin-right: 15px;
      float: left; }
    .historias .marco p {
      line-height: 1.5;
      font-size: 15px; }

img {
  width: 100%;
  height: 100%; }

.fondo1 {
  background-image: url("https://i.pinimg.com/736x/40/e1/35/40e1356ce7acd94d2e8ac21873bd4f51.jpg");
  background-size: 100%; }

body {
  font-family: sans-serif;
  width: 100%; }

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  transition: 0.5s; }

.subtitulo {
  color: white;
  font-size: 200%;
  font-family: "Quintessential", cursive; }

.parte1 {
  background-color: lightsteelblue;
  display: flex;
  grid-area: a2;
  margin-bottom: 50px;
  width: 95%;
  margin-left: auto;
  margin-right: auto; }
  .parte1 .puntos1 li {
    line-height: 1.5;
    list-style-type: disc;
    color: black;
    margin-top: 5px;
    margin-left: 30px;
    font-size: 20px; }
  .parte1 .beneficios {
    width: 60%; }
  .parte1 .imgbene {
    width: 40%; }

.parte2 {
  display: flex;
  height: 400px;
  justify-content: space-between;
  width: 1fr;
  background-color: lightsteelblue;
  width: 95%;
  margin: auto;
  margin-bottom: 50px; }
  .parte2 .esport {
    background-color: lightsteelblue;
    width: 60%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    line-height: 1.5;
    overflow-y: scroll; }
    .parte2 .esport p {
      font-size: 20px; }
  .parte2 .imgesport {
    width: 40%;
    height: 400px;
    text-decoration: underline; }
  .parte2 .imgesport img {
    width: 100%;
    height: 100%;
    justify-content: right; }

.muestra {
  background-color: lightsteelblue;
  width: 95%;
  caption-side: bottom;
  margin-left: 2%;
  margin-right: 2%;
  border-collapse: collapse;
  padding: 5px;
  margin-bottom: 5%; }
  .muestra table {
    background-color: lavender;
    width: 100%;
    text-align: center;
    border-collapse: collapse; }
    .muestra table th {
      background-color: lightsalmon;
      text-align: center; }
    .muestra table td, .muestra table th {
      border: 2px solid black;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 10px;
      padding-bottom: 10px; }

.padre {
  background-color: lightsteelblue;
  display: flex;
  grid-area: a2;
  margin-bottom: 50px;
  width: 95%;
  margin-left: auto;
  margin-right: auto; }
  .padre .texto {
    width: 60%; }
    .padre .texto .puntos li {
      line-height: 1.5;
      list-style-type: disc;
      color: black;
      margin-left: 50px;
      font-size: 20px; }
  .padre .imgcon {
    width: 40%; }

.muestra1 {
  background-color: lightsteelblue;
  width: 95%;
  caption-side: bottom;
  margin-left: 2%;
  margin-right: 2%;
  border-collapse: collapse;
  padding: 5px;
  margin-bottom: 2%; }
  .muestra1 table {
    background-color: lavender;
    width: 100%;
    text-align: center;
    border-collapse: collapse; }
    .muestra1 table th {
      background-color: lightsalmon;
      text-align: center; }
    .muestra1 table td, .muestra1 table th {
      border: 2px solid black;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 10px;
      padding-bottom: 10px; }

.container2 {
  display: grid;
  gap: 100px;
  grid-auto-rows: 30rem;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  margin-bottom: 30px; }
  .container2 .card {
    width: 330px;
    height: 460px;
    border-radius: 8px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: lightsteelblue; }
    .container2 .card:hover {
      transform: translateY(-15px);
      box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2); }
    .container2 .card img {
      width: 330px;
      height: 220px; }
    .container2 .card h2 {
      font-weight: 600;
      margin-bottom: 10px;
      margin-top: 10px; }
    .container2 .card p {
      padding: 0 1rem;
      font-size: 16px;
      font-weight: 300;
      color: black;
      margin-bottom: 10px;
      margin-top: 10px; }

.duda {
  margin-left: 30px;
  font-size: 40px;
  color: black; }

.parrafo {
  font-size: 20px;
  font-weight: 300;
  color: black;
  margin-left: 20px;
  margin-top: 20px; }

.contacto {
  border: double white 5px;
  padding: 20px 20px;
  color: black;
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: 50px;
  margin-right: 50px; }
  .contacto legend {
    font-size: 30px;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px; }
  .contacto .consulta {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 25px; }
  .contacto .form input, .contacto .form textarea {
    width: 100%;
    margin-bottom: 10px; }
  .contacto .form .pais {
    margin-bottom: 10px; }

.cons {
  width: 700px;
  height: 100px; }

.fondo {
  background-image: url("https://blenderartists.org/uploads/default/original/4X/0/6/8/068977e30f259550c608dc2f33eada73aa140e8c.jpeg");
  /*background-image: url("https://i0.wp.com/www.mundoinsider.com/wp-content/uploads/sites/9/2020/04/arcade.jpg?fit=1920%2C1080&ssl=1");*/
  background-size: 100vw 100vh;
  background-attachment: fixed; }

@media screen and (max-width: 800px) {
  .contact {
    font-size: 40px; } }

@media screen and (max-width: 800px) {
  .duda {
    font-size: 30px; } }

@media screen and (max-width: 800px) {
  .parrafo {
    font-size: 15px;
    text-align: justify;
    margin-right: 10px; } }

@media screen and (max-width: 800px) {
  .consulta {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 15px; } }

@media screen and (max-width: 800px) {
  .cons {
    width: 100%;
    height: 100px; } }

@media screen and (max-width: 800px) {
  .grid-container {
    width: 100%;
    height: 100%; }
    .grid-container .hijo h1 {
      font-size: 100%; }
    .grid-container .hijo p {
      font-size: 90%; } }
