.title{
        text-align: center;
        font-size: $tallatitulo;
        margin-top: 30px;
        font-weight: 100;
        color: $titulocolor;
        animation-duration: 5s;
        animation-name: aparecer;
        animation-iteration-count: infinite; 
    
}
