
@media screen and (max-width: 800px){
    .contact{
        font-size: 40px;
    }
}
@media screen and (max-width: 800px){
    .duda{
        font-size: 30px;
    }
}
@media screen and (max-width: 800px){
    .parrafo{
        font-size: 15px;
        text-align: justify;
        margin-right: 10px;
    }
}
@media screen and (max-width: 800px){
    .consulta{
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 15px;
    }
}
@media screen and (max-width: 800px){
    .cons{
        width: 100%;
        height: 100px;
    }
    
}
